
/* About.css */

.page-container {
    max-width: 800px;
    margin: 40px auto; /* Increase the margin to move the content down */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  h2 {
    font-size: 1.8em;
    margin-top: 20px;
    color: #333;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #555;
  }
  