/* Define global variables */
:root {
  --text-color: #333; /* Define your text color */
  --primary-bg-color: #fff; /* Define a primary background color */
}

/* Universal styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

/* Page container to ensure transparent background on all pages */
.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Slightly opaque background */
}

/* Welcome title */
.welcome-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Intro text */
.intro-text {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
}

/* Explore text */
.explore-text {
  font-size: 1.1em;
  margin-bottom: 30px;
  text-align: center;
  color: #666;
}

/* Links container */
.links-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* App links */
.App-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s;
}

.App-link:hover {
  color: #0056b3;
}

/* Lab information styles */
.lab-info {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly more opaque for emphasis */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lab-info h2 {
  font-size: 1.8em; /* Slightly smaller than the welcome title */
  margin-bottom: 10px;
  color: #333;
  text-align: center; /* Center the lab info heading */
}

.lab-info p {
  font-size: 1em; /* Consistent with existing text styles */
  line-height: 1.5;
  color: #555;
  text-align: center; /* Center the lab info text */
}
